{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>HyperPC</h1>
    <p class="lead">Наш фундамент — команда высокого класса. Мы объединены общей страстью к созданию лучших компьютеров в мире.</p>
    <p><a href="https://hyperpc.ru/models" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Наши услуги</h2>
        <p>
            Прокачай свой компьютер или мы можем помочь тебе с реализацией твоей мечты в компьютерном гейминге.
            Если сомневаешься, можешь написать нам или позвонить на горячию линию
        </p>
        <p><a class="btn btn-default" href="https://hyperpc.ru/assistance">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>АПГРЕЙД ЦЕНТР</h2>
        <p>
            Апгрейд-центр HYPERPC – это место, где мы преображаем Ваши ПК как изнутри, так и снаружи. Здесь наши специалисты с
            многолетним опытом подарят новую “жизнь” Вашему верному стальному другу: усовершенствуют его технические характеристики,
            а также сделают его стильным и выделяющимся по Вашему желанию!
        </p>
        <p><a class="btn btn-default" href="https://hyperpc.ru/assistance/upgrade-center">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сервис-центр</h2>
        <p>
            Восстановление поврежденных микропроцессорных устройств – сложный технический процесс, требующий специальных навыков и мастерства.
            Доверьте диагностику и ремонт компьютерных комплектующих опытным профессионалам сервисного центра HYPERPC и получите полностью готовую
            к использованию технику быстро, качественно и надолго.
        </p>
        <p><a class="btn btn-default" href="https://hyperpc.ru/assistance/fix-problems">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}

